.bg-03 {
    background-image: url(../../../public/assets/img/slider/slider-3-cover.jpg);
}

.bg-02 {
    background-image: url(../../../public/assets/img/slider/slider-2-cover.jpg);
}

.bg-01 {
    background-image: url(../../../public/assets/img/slider/slider-1-cover.jpg);
}